appdirs==1.4.4
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==3.3.1
distlib==0.3.1
filelock==3.0.12
gensim==4.0.1
idna==2.10
importlib-metadata==4.0.0
ipython-genutils==0.2.0
isodate==0.6.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-widgets==1.0.0
nltk==3.5
numpy==1.19.5
pandas==1.2.1
pip==20.3.3
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.5
pyzmq==22.0.3
rdflib==5.0.0
regex==2020.11.13
requests==2.24.0
ruamel-yaml==0.15.87
scipy==1.7.0
six==1.15.0
smart-open==5.1.0
tornado==6.1
tqdm==4.51.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.11
virtualenv==20.4.4
wheel==0.35.1
zipp==3.4.1
